.logo {
    width: 100%;
    background: white;
    border-top: 10px solid #9C1010;
    padding: 10px;
    padding-left: 9%;
}

.logo img {
    width: 42%;
}

.logo {
    min-height: 20px;
    width: 100%;
    background-color: #F8F8F8;
    box-shadow: 0px -5px 10px #9C1010;
}

.btn-login {
    border: none;
    background: #8c1515;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 50%;
    color: white;
    margin-left: 25%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.form-login {
    box-sizing: border-box;
    width: 90%;
    margin: 0px auto 60px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
    margin-top: 15px;
}

.form-login h2 {
    box-sizing: border-box;
    padding: 20px;
    color: #8c1515
}

.menu-bar {
    padding-top: 20px;
    float: left;
    width: 18%;
    background: #F8F8F8;
    height: 500px;
    box-sizing: border-box;
    margin: 0px auto 41px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    border-radius: 3px;
    /* margin-top: 15px; */
}

.menu-bar li {
    list-style: none;
    line-height: 30px;
}

.menu-bar li button {
    background: none;
    border: none;
    padding: 0;
    color: #9C1010;
}

.home {
    float: right;
    /* background: red; */
    width: 81%;
    margin-top: 14px;
}

.home label {
    text-align: center;
    font-size: 25px;
    color: #8C1515;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.bg {
    background: #9C1010;
    color: #fff;
}

.fail {
    color: #fff;
    background: red;
}
.next {
    background: #5aec98;
}
.chuaHoc {
    background: yellow;
}
.footer .img-footer {
    width: 100%;
    position: relative;
    bottom: 0;
}


li.note {
    list-style-type: none;
    font-size: 18px;
    font-weight: bolder;
}
li.note.canhcao {
    color: red;
}

